.actions span {
    float: left;
    margin: 0 20px 20px 0;
}
table.board {
    float: left;
}

table.board th {
    padding: 2px 5px;
}

table.board th, table.board td {
    border: 1px #000 solid;
}

.group_0 {
    background: #8b4513;
}

.group_1 {
    background: blue;
}

.group_2 {
    background: #ff1493;
}

.group_3 {
    background: #ff8c00;
}

.group_4 {
    background: red;
}

.group_5 {
    background: yellow;
}

.group_6 {
    background: green;
}

.group_7 {
    background: #00008b;
}

table.info {
    float: left;
    margin: 0 0 0 20px;
}

table.info th, table.info td {
    border: 1px #000 solid;
}

table.info th {
    padding: 2px 5px;
}

table.info td {
    text-align: center;
}