html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: verdana, sans-serif;
	font-size: 11px;
}

#board {
	position: relative;
	margin: 0 auto;
	width: 1300px;
	height: 1300px;
	/*-moz-transform: rotateX(57deg);*/
}

#board .position {
	position: relative;
	border: 1px #ccc solid;
}

#board .name, #board .cost {
	width: 98px;
	text-align: center;
	margin: 0;
}

#board .side1 {
	position: absolute;
	bottom: 0;
	left: 200px;
}

#board .side1 .position {
	float: right;
	width: 98px;
	height: 198px;
}

#board .side2 {
	position: absolute;
	left: 0;
	top: 200px;
}

#board .side2 .position {
	display: block;
	width: 198px;
	height: 98px;
}

#board .side2 .position .name {
	position: absolute;
	width: 100px;
	left: 150px;
	-webkit-transform-origin: 0 0;
    -moz-transform-origin:    0 0;
    -ms-transform-origin:     0 0;
    -o-transform-origin:      0 0;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
}

#board .side3 {
	position: absolute;
	left: 200px;
	top: 0;
}

#board .side3 .position {
	float: left;
	width: 98px;
	height: 198px;
}

#board .side4 {
	position: absolute;
	right: 0;
	top: 200px;
}

#board .side4 .position {
	display: block;
	width: 198px;
	height: 98px;
}

/* corners */

#board .corner.position {
	position: absolute;
	width: 198px;
	height: 198px;
}

#board .pos0 {
	bottom: 0;
	right: 0;
}

#board .pos10 {
	bottom: 0;
	left: 0;
}

#board .pos30 {
	top: 0;
	right: 0;
}

#dice {
	position: absolute;
	top: 600px;
	left: 700px;
}

#dice span {
	display: block;
	float: left;
	width: 30px;
	height: 30px;
	margin: 0 10px 0 0;
	border: 1px #ccc solid;
	border-radius: 4px;
}

.player {
	position: absolute;
	bottom: 20px;
	right: 20px;
	width: 30px;
	height: 30px;
	border: 1px red solid;
}

.clear {
    clear: both;
}